.accordian-sec{
    background-color: #0B0B0A;
    padding-left: 6%;
    padding-right: 6%;
}
.accordian-head{
    text-align: center;
    color: #ffffff;
    font-family: Anton, sans-serif !important;
    font-size: 60px;
}

/* .accordion-body{
    background-color: #000000;
    color: #ffffff;
    font-size: 18px !important;
    font-family: Anton, sans-serif !important;
    z-index: 2 !important;
} */
.accordion-body:focus{
    z-index: 2 !important;
}
.accordion-collapse{
    border: none !important;
}
.accordion-item{
    margin:0% 0% 2% 0% !important;
    border: 1px solid #ffffff !important;
    z-index: 2 !important;
}
.accordion-button:focus{
    outline: none !important;
    /* z-index: 2 !important; */
}
.accordion{
    border: unset !important;
    --bs-accordion-bg:none !important;
    outline: none !important;
    --bs-accordion-active-color: none !important;
    z-index: 2 !important;
}


  .accordion-button::after{
    background-image: none !important;
  }
  .accordion-button:not(.collapsed){
    box-shadow: none !important;
    outline: none !important;
    border-radius: none !important;
    /* z-index: 2 !important; */
  }
  .accordian-sec::before{
    content: '';
    background-image: url('/assets/images/arrowr.png');
  }
  .accord-arrow{
    position: relative;
    bottom: 17vh;
    left: 18vw;
    white-space: nowrap;
  }
.listedit{
    list-style: none !important;
}
.image-area{
  height: 50px;
}