.mobileMenuOverlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 9998;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px 24px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.85));
  backdrop-filter: blur(6px);
  overflow-y: auto;
  margin-top: 5%;
}

.menuContent {
  padding-top: 48px;
}

.navbarbg {
  background-color: #0B0B0A;
  z-index: 9999;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  padding: 1% 7%;
}

.navbarBrand {
  padding: 6px 0;
}

.navbarLogo {
  height: auto;
  object-fit: contain;
  width:100%;
            
}

.navContainer {
  padding-bottom: 10px;
  border-bottom: 1px solid #ffbf00;
}

.contactBtn {
  border: 1px solid #ffbf00;
  border-radius: 30px;
  color: white;
  background-color: transparent;
  font-size: 20px;
    padding: 7px 30px;
  transition: all 0.3s;
  margin-right: 20px;
  text-decoration: none;
}

.contactBtn:hover {
  background-color: #ffbf00;
  color: black;
}

.menuButton {
  padding: 13px 26px;
  border-radius: 30px;
  background-color: #ffbf00;
  border: none;
  color: black;
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
}

.menuIcon {
  width: 40px;
  height: 24px;
  object-fit: contain;
}

.navLinks {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.navLinks a, .navLinkCareer {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
  font-family: Anton, sans-serif !important;
  font-size: 30px;
  line-height: 3;
  font-weight: 600;
  letter-spacing: 1px;
}

.navLinks a:hover, .navLinkCareer:hover {
  color: #ffbf01;
}

.careerWithIcons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.socialIcons {
  display: flex;
  gap: 20px;
  align-items: center;
}

.socialIcons img {
  width: 34px;
  height: 34px;
}

.SportsLogo{
  width: 150px;
}
.iconHoverEffect {
  transition: transform 0.3s ease, filter 0.3s ease, box-shadow 0.3s ease;
}

.iconHoverEffect:hover {
  transform: scale(1.15);
  filter: drop-shadow(0 0 8px rgba(255, 221, 0, 0.8)); /* Yellow glow */
}

 /* phone */
@media only screen and (min-width: 450px) and (max-width: 600px){
  .navbarLogo {
    width: 100px;
  }

  .contactBtn {
    font-size: 12px;
    padding: 10px 15px;
    margin-right: 10px;
    border-radius: 20px;
  }

  .menuButton {
    padding: 7px 15px;
  }

  .menuIcon {
    width: 24px;
    height: 21px;
  }

  .navLinks {
    gap: 12px;
    margin-top: 20px;
  }

  .navLinks a, .navLinkCareer {
    font-size: 14px;
  }

  .socialIcons img {
    width: 20px;
    height: 20px;
  }

}
/* laptop */
@media only screen and (min-width: 999px) and (max-width:1185px){
 .navbarLogo {
    width: 150px;
  }
}

/* tab */
@media only screen and (min-width: 796px) and (max-width: 999px){
 .navbarLogo {
    width: 150px;
  }
}

/* large mobile landscap */
@media only screen and (min-width: 690px) and (max-width: 794px){
   .navbarLogo {
    width: 150px;
  }
}

/* mobile landscape */
@media only screen and (min-width: 600px) and (max-width: 750px){
  .navbarLogo {
    width: 130px;
  }
}

/* iphone */
@media  screen and (min-width: 300px) and (max-width: 450px) {
.navbarLogo {
    width: 100px;
  }

  .contactBtn {
    font-size: 12px;
    padding: 10px 15px;
    margin-right: 10px;
    border-radius: 20px;
  }

  .menuButton {
    padding: 7px 15px;
  }

  .menuIcon {
    width: 24px;
    height: 21px;
  }

  .navLinks {
    gap: 12px;
    margin-top: 20px;
  }

  .navLinks a, .navLinkCareer {
    font-size: 14px;
  }

  .socialIcons img {
    width: 20px;
    height: 20px;
  }
  .SportsLogo {
    width: 100px !important;
    padding: 5% !important;
}
}

