.footerSection{
    padding: 0;
    margin: 0;
}
.footer {
  background-color: #0B0B0A;
  border-top: 1px solid #333;
 
}
.customContainer {
  padding-left: 5%;
  padding-right: 5%;
}
.footerLogo{
    width:200px;
}

.emailWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.emailText {
  font-size: 30px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 1rem;
  font-family: Anton, sans-serif !important;
  cursor: pointer;
}

.emailArrow {
  transition: transform 0.5s ease;
  color: #fff;

}

.emailWrapper:hover .emailArrow {
  transform: rotate(180deg);
}

.downArrow{
  width:50px;
}
.text{
  font-size: 18px;
  color: #ffffff;
  font-family: "Anton", sans-serif;
  letter-spacing: 0.2px;
  margin-left: 40px;
}
.link {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  margin-bottom: 10px;
  display: inline-block;
  font-size: 18px;
  padding: 24px;
  font-family: "Plus Jakarta Sans", sans-serif;
  text-decoration: none !important;
}

.link:hover {
  color: #f0cb11;
  text-decoration: underline;
}

.icon {
  color: #fff;
  font-size: 44px;
  transition: color 0.3s;
}

.icon:hover {
  color: #f0cb11;
}

.navLinks {
  font-family: "Plus Jakarta Sans", sans-serif;
  margin-left: 50px;
}
.copyright{
  font-size: 18px;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #fff;

}
.copyright span{
  color: #f0cb11;
}
.servicesText{
    font-size: 18px;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #C2B0B0;
    margin-left: 22px;
}
.fullWidthHr {
  border: none;
  border-top: 1px solid #fff;
  margin: 0;
}
span.copyrightsub{
  color: #ff0000;
  font-style: italic;
  font-size: 20px;
  font-weight: 600;
}
.iconHoverEffect {
  transition: transform 0.3s ease, filter 0.3s ease, box-shadow 0.3s ease;
}

.iconHoverEffect:hover {
  transform: scale(1.15);
  filter: drop-shadow(0 0 8px rgba(255, 221, 0, 0.8)); /* Yellow glow */
}