.careerSectionBg {
  background-color: #0B0B0A;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.careerSection {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url('/assets/images/careersec-bg.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}


.overlay {
  position: absolute;
  inset: 0;
  background-image: url('/assets/images/careersec-overlay.png');
  background-size: contain;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; 
  padding: 60px 20px;
}

.heading {
  text-transform: uppercase;
    color: #ffffff;
    font-family: Anton, sans-serif !important;
    font-size: 60px;
    letter-spacing: 1px;
    text-align: center;
}

.description {
  font-size: 18px;
  color: #ffffff;
  font-family: "Anton", sans-serif;
  letter-spacing: 0.2px;
  padding: 20px;
}

.joinusBtn {
  background: #F0CB11;
  color: #000;
  border: none;
  padding: 5px 30px;
  border-radius: 30px;
  font-size: 18px;
  font-family: "Plus Jakarta Sans", sans-serif;
}
@media only screen and (min-width: 450px) and (max-width: 600px){
  .heading {
    font-size: 38px !important;
    margin-top: 10px !important;
  }
  .overlay {
    position: absolute;
    inset: 0;
    background-image: url('/assets/images/careersec-overlay.png');
    background-size: contain;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding: 0px 10px !important;
  }
  .careerSection {
    position: relative;
    width: 100vw;
    height: 35vh !important;
  }
  .description {
    font-size: 12px !important;
    padding: 0 !important;
  }
  .joinusBtn {
    padding: 4px 15px !important;
    font-size: 13px !important;
  }
}
@media only screen and (min-width: 300px) and (max-width: 450px) {
  .heading {
    font-size: 38px !important;
    margin-top: 10px !important;
  }
  .overlay {
    position: absolute;
    inset: 0;
    background-image: url('/assets/images/careersec-overlay.png');
    background-size: contain;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding: 0px 10px !important;
  }
  .careerSection {
    position: relative;
    width: 100vw;
    height: 35vh !important;
  }
  .description {
    font-size: 12px !important;
    padding: 0 !important;
  }
  .joinusBtn {
    padding: 4px 15px !important;
    font-size: 13px !important;
  }
 
}